.App .menu {
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 64px;
  overflow-y: auto;
  transition: all .5s;
}
.App .menu.--hidden {
  transform: translateX(-100%);
}
.App .content-header {
  height: 64px;
  display: flex;
  justify-content: space-between;
}
.App .title {
  display: flex;
  font-size: 32px;
  align-items: center;
  margin-left: 16px;
}
.App .menu-toggle {
  width: 64px;
  border: none;
  background: transparent;
  font-size: 32px;
}
.App .menu-toggle:focus,
.App .menu-toggle:hover {
  background: #eee;
  outline: none;
}
.App .menu-toggle:hover {
  cursor: pointer;
}
