a {
  color: salmon;
}
a:hover {
  color: brown;
}
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
}
button {
  font: inherit;
}
input {
  display: block;
  font: inherit;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  background: transparent;
  &:focus {
    outline: none;
    border-color: salmon;
  }
}
